div{
    box-sizing: border-box;
    overflow: hidden;
}


.choice ul li{
    list-style: none;
}
.open-list ul,.open-list p{
    display: none;
}

.open-list:hover ul, .open-list:hover p{
    display: block;
}
.closelist,.selected {
    display: none;
}
.openlist,.expected{
    display: block;
}
.error{
    background-color:red;
}